.spinner {
  border: 2px solid rgb(255, 255, 255, 0.1);
  border-top-color: var(--primary-color, #32ff7e);
  border-radius: 50%;
  corner-shape: round;
  box-sizing: border-box;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
